streamlit==1.32.0
streamlit-extras==0.4.0
streamlit-aggrid==0.3.4
pandas==2.2.0
numpy==1.26.4
sqlmodel==0.0.16
sqlalchemy==2.0.27
pydantic==2.6.1
pydantic-settings==2.2.1
plotly==5.19.0
bcrypt==4.1.2
watchdog==4.0.0
pyarrow==15.0.0
